article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, .skill-group h3 {
  text-transform: uppercase;
  font-family: "arvo", sans-serif;
}

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.aligncenter {
  text-align: center;
  margin: 0 auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.alignleft {
  padding-right: 5px;
}

img.alignright {
  padding-left: 5px;
}

.clear {
  width: 100%;
  float: left;
  clear: both;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.full {
  width: 100%;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
}
header:after {
  content: "";
  display: table;
  clear: both;
}

.social {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
}
.social:last-child {
  margin-right: 0;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

.contact .social-links {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.contact .social-links:last-child {
  margin-right: 0;
}

.contact .contact-form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.contact .contact-form:last-child {
  margin-right: 0;
}

footer {
  clear: both;
  padding: 10px;
}

.skill-group {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
.skill-group:last-child {
  margin-right: 0;
}

.portfolio-piece {
  width: 50%;
  float: left;
}
.portfolio-piece h3 {
  text-transform: uppercase;
  font-weight: 700;
}

div.preview-image {
  position: relative;
}
div.preview-image:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(44, 62, 80, 0.7);
  -webkit-transition: 0.3s all;
          transition: 0.3s all;
}
div.preview-image:hover:after {
  background: rgba(16, 92, 87, 0.7);
}
div.preview-image h4 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  color: #ecf0f1;
  font-weight: 700;
  text-align: center;
  width: 75%;
  margin: 0 12.5%;
}

.tech-used {
  text-align: center;
}
.tech-used li {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  color: #2c3e50;
  border: 1px solid rgba(44, 62, 80, 0.5);
  background: rgba(32, 178, 170, 0.3);
  border-radius: 3px;
  padding: 4px;
  display: inline-block;
  margin: 3px;
  -webkit-transition: 0.3s all;
          transition: 0.3s all;
}
.tech-used li:hover {
  background: rgba(217, 97, 0, 0.3);
}

pre {
  background: #cfd9db;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

body {
  color: #2c3e50;
  font-family: "lato", serif;
  font-weight: 300;
}

a {
  color: #20b2aa;
  text-decoration: none;
  -webkit-transition: 0.3s all;
          transition: 0.3s all;
  position: relative;
}
a:hover {
  color: #D96100;
}

h1 {
  font-weight: 400;
  text-align: center;
  font-size: 48px;
  font-size: 3rem;
  letter-spacing: 1px;
  color: #20b2aa;
}

h2, h3, h4, h5 {
  text-align: center;
  font-weight: 300;
}

h2.tagline {
  font-family: "lato", serif;
  text-transform: none;
}

p {
  line-height: 1.5;
}

.skill-list {
  text-align: center;
  line-height: 2;
}

blockquote {
  background: #ecf0f1;
  margin: 0;
  padding: 20px;
}
blockquote p {
  margin-top: 0;
}

div.social {
  font-size: 0px;
  font-size: 0rem;
  text-align: center;
}
div.social a {
  font-size: 30px;
  font-size: 1.875rem;
  padding: 10px;
  width: 25%;
  display: inline-block;
}

.social-links a {
  font-size: 30px;
  font-size: 1.875rem;
  display: inline-block;
}
.social-links span {
  text-transform: uppercase;
  color: #2c3e50;
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
          transform: translateY(-30%);
}

footer {
  color: #ecf0f1;
  text-align: center;
}

section.about {
  background: #ecf0f1;
}

section.skills {
  background: #95a5a6;
}

section.portfolio {
  background: #ecf0f1;
}

section.contact {
  background: #ecf0f1;
}

footer {
  background: #2c3e50;
}

#comments .navigation {
  padding: 0 0 18px;
}

h3#comments-title, h3#reply-title {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

h3#comments-title {
  padding: 24px 0;
}

.commentlist li.comment {
  border-bottom: 1px solid #e7e7e7;
  line-height: 24px;
  position: relative;
  clear: both;
  margin: 0 0 24px;
  padding: 0 0 0 56px;
}

.commentlist li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#comments .comment-body ul, #comments .comment-body ol {
  margin-bottom: 18px;
}

#comments .comment-body p:last-child {
  margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
  margin-bottom: 24px;
}

.commentlist ol {
  list-style: decimal;
}

.commentlist .avatar {
  position: absolute;
  top: 4px;
  left: 0;
}

.comment-author cite {
  color: #000000;
  font-style: normal;
  font-weight: 700;
}

.comment-author .says {
  font-style: italic;
}

.comment-meta {
  font-size: 12px;
  margin: 0 0 5px;
}

.comment-meta a:link, .comment-meta a:visited {
  color: #888888;
  text-decoration: none;
}

.reply {
  font-size: 12px;
  padding: 0 0 24px;
}

.reply a, a.comment-edit-link {
  color: #888888;
}

.commentlist .children li {
  border: none;
  margin: 0;
}

#comments .pingback {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e7e7e7;
}

.commentlist li.comment + li.pingback {
  margin-top: -6px;
}

#comments .pingback p {
  color: #888888;
  font-size: 12px;
  line-height: 18px;
  display: block;
  margin: 0;
}

#comments .pingback .url {
  font-style: italic;
  font-size: 13px;
}

input[type=submit] {
  color: #333333;
}

#respond {
  margin-top: 24px;
  border-top: 1px solid #e7e7e7;
  overflow: hidden;
  position: relative;
}

#respond .comment-notes {
  margin-bottom: 1em;
}

.form-allowed-tags {
  line-height: 1em;
}

.children #respond {
  margin: 0 48px 0 0;
}

h3#reply-title {
  margin: 18px 0;
}

#comments-list #respond {
  margin: 0 0 18px;
}

#cancel-comment-reply-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

#respond .required {
  color: #ff4b33;
  font-weight: 700;
}

#respond label {
  color: #888888;
  font-size: 12px;
}

#respond input {
  width: 98%;
  margin: 0 0 9px;
}

#respond textarea {
  width: 98%;
}

#respond dt, #respond dd {
  color: #888888;
  font-size: 12px;
  line-height: 18px;
}

#respond dd code {
  font-size: 11px;
}

#respond .form-submit {
  margin: 0 0 24px;
}

#respond .form-submit input {
  width: auto;
  font-size: 14px;
}

#respond dl {
  margin: 0 0 10px;
}

#respond dt {
  display: inline;
  font-weight: 400;
}

#respond dd {
  display: inline;
}

p.form-allowed-tags, .nocomments {
  display: none;
}

.commentlist, .commentlist .children {
  list-style: none;
  margin: 0;
}

.comment-meta a:active, .comment-meta a:hover, .reply a:hover, a.comment-edit-link:hover {
  color: #ff4b33;
}

#respond p, #comments-list ul #respond {
  margin: 0;
}

header h2 {
  font-family: "arvo", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-size: 1.875rem;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin: 0;
  margin-top: 15px;
}
header h2:last-child {
  margin-right: 0;
}
header h2:hover a {
  color: #D96100;
}
header h2:hover svg {
  fill: #D96100;
}

svg {
  fill: #20b2aa;
  width: 30px;
  -webkit-transition: 0.3s all;
          transition: 0.3s all;
}

nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
}
nav:last-child {
  margin-right: 0;
}

ul.menu {
  font-size: 0px;
  font-size: 0rem;
  float: right;
}

li.menu-item {
  display: inline-block;
  margin-left: 20px;
  padding-top: 5px;
}
li.menu-item a {
  display: inline-block;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 20px;
}
li.menu-item a:after {
  content: '';
  height: 1px;
  bottom: -1px;
  position: absolute;
  left: 50%;
  width: 0;
  -webkit-transition: 0.3s all;
          transition: 0.3s all;
  background: #20b2aa;
}
li.menu-item a:hover:after {
  width: 100%;
  left: 0;
  background: #D96100;
}
