article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
textarea,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
textarea,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input, textarea {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
html textarea[type="button"],
input[type="reset"],
textarea[type="reset"],
input[type="submit"],
textarea[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled],
textarea[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner, textarea::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"], textarea[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, textarea[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, textarea[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], textarea[type="checkbox"], input[type="radio"], textarea[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, .skill-group h3 {
  text-transform: uppercase;
  font-family: "arvo", sans-serif;
}

section.about, section.portfolio {
  padding-top: 30px;
  padding-bottom: 100px;
}
section.about h2, section.portfolio h2 {
  padding-bottom: 30px;
}

li.menu-item a {
  position: relative;
}
li.menu-item a:after {
  content: '';
  height: 1px;
  bottom: -1px;
  position: absolute;
  left: 50%;
  width: 0;
  -webkit-transition: 0.3s all ease-in-out;
          transition: 0.3s all ease-in-out;
  background: #20b2aa;
}
li.menu-item a:hover:after {
  width: 100%;
  left: 0;
  background: #D96100;
}

h2.entry-title a {
  position: relative;
}
h2.entry-title a:after {
  content: '';
  height: 1px;
  bottom: -1px;
  position: absolute;
  left: 0;
  width: 0;
  -webkit-transition: 0.3s all ease-in-out;
          transition: 0.3s all ease-in-out;
  background: #20b2aa;
}
h2.entry-title a:hover:after {
  width: 100%;
  left: 0;
  background: #D96100;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  40% {
    -webkit-transform: translateY(-30px) translateX(-50%);
            transform: translateY(-30px) translateX(-50%);
  }
  60% {
    -webkit-transform: translateY(-15px) translateX(-50%);
            transform: translateY(-15px) translateX(-50%);
  }
}
@-ms-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0) translateX(-50%);
        transform: translateY(0) translateX(-50%);
  }
  40% {
    -ms-transform: translateY(-30px) translateX(-50%);
        transform: translateY(-30px) translateX(-50%);
  }
  60% {
    -ms-transform: translateY(-15px) translateX(-50%);
        transform: translateY(-15px) translateX(-50%);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  40% {
    -webkit-transform: translateY(-30px) translateX(-50%);
            transform: translateY(-30px) translateX(-50%);
  }
  60% {
    -webkit-transform: translateY(-15px) translateX(-50%);
            transform: translateY(-15px) translateX(-50%);
  }
}
body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.aligncenter {
  text-align: center;
  margin: 0 auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.alignleft {
  padding-right: 5px;
}

img.alignright {
  padding-left: 5px;
}

.clear {
  width: 100%;
  float: left;
  clear: both;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  *zoom: 1;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

.hero {
  height: 85vh;
  padding-top: 100px;
}

.full {
  width: 100%;
}

header {
  *zoom: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
header:before, header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}

.social {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
  margin-left: 26.04167%;
}

.about {
  padding-bottom: 50px;
}

.about-content {
  display: inline;
  float: left;
  width: 39.58333%;
  margin: 0 1.04167%;
  margin-left: 9.375%;
}
@media (max-width: 768px) {
  .about-content {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%;
    margin-left: 9.375%;
  }
}
@media (max-width: 620px) {
  .about-content {
    display: inline;
    float: left;
    width: 81.25%;
    margin: 0 1.04167%;
    margin-left: 9.375%;
    text-align: center;
  }
}
.about-content p:first-of-type {
  margin-top: 0;
}
@media (max-width: 620px) {
  .about-content p:first-of-type {
    margin-top: 1em;
  }
}

.profile-img {
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
  margin-left: 9.375%;
}
@media (max-width: 768px) {
  .profile-img {
    display: inline;
    float: left;
    width: 39.58333%;
    margin: 0 1.04167%;
  }
}
@media (max-width: 620px) {
  .profile-img {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%;
    margin-left: 26.04167%;
  }
}

.contact .social-links {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
}
@media (max-width: 768px) {
  .contact .social-links {
    display: inline;
    float: left;
    width: 81.25%;
    margin: 0 1.04167%;
    margin-left: 9.375%;
  }
  .contact .social-links p {
    text-align: center;
  }
}
.contact .social-links li {
  padding: 10px;
  padding-left: 0;
}

.contact .contact-form {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
}
@media (max-width: 768px) {
  .contact .contact-form {
    display: inline;
    float: left;
    width: 81.25%;
    margin: 0 1.04167%;
    margin-left: 9.375%;
  }
}

.scroll {
  margin-top: 150px;
  text-align: center;
  font-size: 36px;
  font-size: 2.25rem;
  position: relative;
}
.scroll a {
  color: #ecf0f1;
  -webkit-animation: bounce 3s infinite;
  -ms-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
  padding: 30px;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(0);
      -ms-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
}
.scroll a:hover {
  color: #2c3e50;
  -webkit-animation: none;
  -ms-animation: none;
  animation: none;
}

article {
  border-top: 4px double rgba(44, 62, 80, 0.5);
}

footer {
  clear: both;
  padding: 10px;
}

.skills .container {
  *zoom: 1;
  padding: 0;
}
.skills .container:before, .skills .container:after {
  content: "";
  display: table;
}
.skills .container:after {
  clear: both;
}

.skill-group {
  width: 25%;
  float: left;
  padding: 10px;
  height: 225px;
  border-left: 1px solid #2c3e50;
  -webkit-transition: 0.5s all;
          transition: 0.5s all;
}
.skill-group:first-of-type {
  border-left: 0px solid #2c3e50;
}
.skill-group:hover {
  background: #20b2aa;
  box-shadow: inset 0px 10px 10px -10px rgba(44, 62, 80, 0.5), inset 0px -10px 10px -10px rgba(44, 62, 80, 0.5);
}
@media (max-width: 620px) {
  .skill-group {
    width: 50%;
  }
  .skill-group:nth-of-type(n+3) {
    border-top: 1px solid #2c3e50;
  }
}

pre {
  background: #cfd9db;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

body {
  color: #2c3e50;
  font-family: "lato", serif;
  font-weight: 300;
}

a {
  color: #20b2aa;
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in-out;
          transition: 0.3s all ease-in-out;
  position: relative;
}
a:hover {
  color: #D96100;
}

h1 {
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  color: #20b2aa;
}

h1.site-title {
  font-size: 48px;
  font-size: 3rem;
}

h2, h3, h4, h5 {
  text-align: center;
  font-weight: 300;
}

h2.tagline, h2.entry-title {
  font-family: "lato", serif;
  text-transform: none;
}

h2.entry-title {
  text-align: left;
  font-weight: 400;
}
h2.entry-title a {
  position: relative;
}

h4.byline {
  text-align: left;
}

p {
  line-height: 1.5;
}

.skill-list {
  text-align: center;
  line-height: 2;
}

blockquote {
  background: #ecf0f1;
  margin: 0;
  padding: 20px;
}
blockquote p {
  margin-top: 0;
}

div.social {
  font-size: 0px;
  font-size: 0rem;
  text-align: center;
}
div.social a {
  font-size: 30px;
  font-size: 1.875rem;
  padding: 10px;
  width: 25%;
  display: inline-block;
}

.social-links a {
  font-size: 30px;
  font-size: 1.875rem;
  display: inline-block;
}
.social-links span {
  text-transform: uppercase;
  color: #2c3e50;
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
          transform: translateY(-30%);
}

footer {
  color: #ecf0f1;
  text-align: center;
}

body {
  background: url("img/fog.jpg");
  background-size: cover;
  background-attachment: fixed;
}

section.hero {
  box-shadow: inset 0px -10px 10px -10px rgba(44, 62, 80, 0.5);
}

section.about {
  background: #ecf0f1;
}
@media (max-width: 620px) {
  section.about {
    padding-bottom: 50px;
  }
}

section.skills {
  background: #95a5a6;
  padding-bottom: 0;
  box-shadow: inset 0px 10px 10px -10px rgba(44, 62, 80, 0.5), inset 0px -10px 10px -10px rgba(44, 62, 80, 0.5);
}

section.portfolio {
  background: #ecf0f1;
  padding-bottom: 0;
}
section.portfolio h2 {
  padding-bottom: 0;
}

section.contact {
  padding-top: 30px;
  padding-bottom: 50px;
  box-shadow: inset 0px 10px 10px -10px rgba(44, 62, 80, 0.5), inset 0px -10px 10px -10px rgba(44, 62, 80, 0.5);
}

.main {
  background: rgba(236, 240, 241, 0.8);
  box-shadow: inset 0px 10px 10px -10px rgba(44, 62, 80, 0.5);
}

footer {
  background: #2c3e50;
}

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > section {
  display: none;
  -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
  max-width: 100%;
  display: block;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

.no-js .slides > section:first-child {
  display: block;
}

.flexslider {
  margin: 0 0 60px;
  background: #ecf0f1;
  border: 4px solid #ecf0f1;
  position: relative;
  zoom: 1;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

.carousel li {
  margin-right: 5px;
}

.flex-direction-nav {
  *height: 0;
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(44, 62, 80, 0.8);
  text-shadow: 1px 1px 0 rgba(44, 62, 80, 0.3);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
  left: -50px;
}

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px;
}

.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
}

.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #2c3e50;
}

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

.flex-pauseplay a:hover {
  opacity: 1;
}

.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #95a5a6;
  background: rgba(149, 165, 166, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
  background: #95a5a6;
  background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #2c3e50;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
input, textarea {
  border: 0;
  background: rgba(236, 240, 241, 0.3);
  outline: 0;
  border-bottom: 2px solid #20b2aa;
  color: #2c3e50;
  padding: 5px;
  -webkit-transition: 0.3s all;
          transition: 0.3s all;
}
input:focus, textarea:focus {
  border-bottom: 2px solid #D96100;
  background: rgba(236, 240, 241, 0.6);
}

input[type=submit], textarea[type=submit] {
  background: #20b2aa;
  color: #ecf0f1;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 15px;
  -webkit-transition: 0s all;
          transition: 0s all;
  border-bottom: 0;
}
input[type=submit]:hover, textarea[type=submit]:hover {
  background: #188781;
}
input[type=submit]:focus, textarea[type=submit]:focus, input[type=submit]:active, textarea[type=submit]:active {
  border-bottom: 0;
  background: #D96100;
}

textarea {
  border-radius: 3px;
  border: 2px solid #20b2aa;
}
@media (max-width: 768px) {
  textarea {
    width: 100%;
  }
}
textarea:focus {
  border: 2px solid #D96100;
  background: rgba(236, 240, 241, 0.6);
}

::-webkit-input-placeholder {
  color: rgba(44, 62, 80, 0.8);
}

::-moz-placeholder {
  color: rgba(44, 62, 80, 0.8);
}

:-ms-input-placeholder {
  color: rgba(44, 62, 80, 0.8);
}

#comments .navigation {
  padding: 0 0 18px;
}

h3#comments-title, h3#reply-title {
  color: #2c3e50;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

h3#comments-title {
  padding: 24px 0;
}

.commentlist li.comment {
  border-bottom: 1px solid #ecf0f1;
  line-height: 24px;
  position: relative;
  clear: both;
  margin: 0 0 24px;
  padding: 0 0 0 56px;
}

.commentlist li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#comments .comment-body ul, #comments .comment-body ol {
  margin-bottom: 18px;
}

#comments .comment-body p:last-child {
  margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
  margin-bottom: 24px;
}

.commentlist ol {
  list-style: decimal;
}

.commentlist .avatar {
  position: absolute;
  top: 4px;
  left: 0;
}

.comment-author cite {
  color: #2c3e50;
  font-style: normal;
  font-weight: 700;
}

.comment-author .says {
  font-style: italic;
}

.comment-meta {
  font-size: 12px;
  margin: 0 0 5px;
}

.comment-meta a:link, .comment-meta a:visited {
  color: #95a5a6;
  text-decoration: none;
}

.reply {
  font-size: 12px;
  padding: 0 0 24px;
}

.reply a, a.comment-edit-link {
  color: #95a5a6;
}

.commentlist .children li {
  border: none;
  margin: 0;
}

#comments .pingback {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ecf0f1;
}

.commentlist li.comment + li.pingback {
  margin-top: -6px;
}

#comments .pingback p {
  color: #95a5a6;
  font-size: 12px;
  line-height: 18px;
  display: block;
  margin: 0;
}

#comments .pingback .url {
  font-style: italic;
  font-size: 13px;
}

#respond {
  margin-top: 24px;
  border-top: 1px solid #ecf0f1;
  overflow: hidden;
  position: relative;
}

#respond .comment-notes {
  margin-bottom: 1em;
}

.form-allowed-tags {
  line-height: 1em;
}

.children #respond {
  margin: 0 48px 0 0;
}

h3#reply-title {
  margin: 18px 0;
}

#comments-list #respond {
  margin: 0 0 18px;
}

#cancel-comment-reply-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

#respond .required {
  color: #ff4b33;
  font-weight: 700;
}

#respond label {
  color: #95a5a6;
  font-size: 12px;
}

#respond input, #respond textarea {
  width: 98%;
  margin: 0 0 9px;
}

#respond textarea {
  width: 98%;
}

#respond dt, #respond dd {
  color: #95a5a6;
  font-size: 12px;
  line-height: 18px;
}

#respond dd code {
  font-size: 11px;
}

#respond .form-submit {
  margin: 0 0 24px;
}

#respond .form-submit input, #respond .form-submit textarea {
  width: auto;
  font-size: 14px;
}

#respond dl {
  margin: 0 0 10px;
}

#respond dt {
  display: inline;
  font-weight: 400;
}

#respond dd {
  display: inline;
}

p.form-allowed-tags, .nocomments {
  display: none;
}

.commentlist, .commentlist .children {
  list-style: none;
  margin: 0;
}

.comment-meta a:active, .comment-meta a:hover, .reply a:hover, a.comment-edit-link:hover {
  color: #ff4b33;
}

#respond p, #comments-list ul #respond {
  margin: 0;
}

header h2 {
  font-family: "arvo", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-size: 1.875rem;
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
  margin: 0;
  margin-top: 15px;
}
header h2:hover a {
  color: #D96100;
}
header h2:hover svg {
  fill: #D96100;
}

svg {
  fill: #20b2aa;
  width: 30px;
  -webkit-transition: 0.3s all ease-in-out;
          transition: 0.3s all ease-in-out;
}

nav {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
}

ul.menu {
  font-size: 0px;
  font-size: 0rem;
  float: right;
}

li.menu-item {
  display: inline-block;
  margin-left: 20px;
  padding-top: 5px;
}
li.menu-item a {
  display: inline-block;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 20px;
}

.portfolio-piece h3 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 26px;
  font-size: 1.625rem;
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
  margin-left: 9.375%;
  color: #20b2aa;
}
@media (max-width: 768px) {
  .portfolio-piece h3 {
    display: inline;
    float: left;
    width: 56.25%;
    margin: 0 1.04167%;
    margin-left: 9.375%;
  }
}
@media (max-width: 620px) {
  .portfolio-piece h3 {
    display: inline;
    float: left;
    width: 64.58333%;
    margin: 0 1.04167%;
  }
}
.portfolio-piece h4 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
  text-align: right;
}
@media (max-width: 768px) {
  .portfolio-piece h4 {
    display: inline;
    float: left;
    width: 22.91667%;
    margin: 0 1.04167%;
  }
}
@media (max-width: 620px) {
  .portfolio-piece h4 {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
  }
}
.portfolio-piece img {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
  margin-left: 9.375%;
  border: 1px solid #95a5a6;
  box-shadow: 0px 0px 10px rgba(44, 62, 80, 0.3);
  margin-top: 20px;
}
@media (max-width: 620px) {
  .portfolio-piece img {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
    margin-top: 20px;
  }
}

a.live-link {
  position: relative;
}
a.live-link:hover i {
  color: #D96100;
}
a.live-link i {
  color: lightseagreen;
  font-size: 16px;
  font-size: 1rem;
  position: absolute;
  right: -20px;
  -webkit-transition: 0.3s all;
          transition: 0.3s all;
}

a.portfolio-link {
  padding: 5px;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  border: 1px solid #20b2aa;
  border-radius: 3px;
  display: inline-block;
}
a.portfolio-link:hover {
  background: #20b2aa;
  color: #ecf0f1;
}

.portfolio h2 {
  color: #2c3e50;
}

.portfolio-desc {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
  margin-left: 9.375%;
}
@media (max-width: 620px) {
  .portfolio-desc {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
  }
}
.portfolio-desc p {
  text-align: center;
}

.tech-used {
  text-align: center;
  max-width: 100%;
  z-index: 20;
}
.tech-used li {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  color: #2c3e50;
  border: 1px solid rgba(44, 62, 80, 0.5);
  background: #ecf0f1;
  border-radius: 3px;
  padding: 4px;
  display: inline-block;
  margin: 3px;
  -webkit-transition: 0.3s all;
          transition: 0.3s all;
}
.tech-used li:hover {
  background: #D96100;
}
