#comments .navigation { padding:0 0 18px; }
h3#comments-title, h3#reply-title {
  color:#000000;
  font-weight:700;
  font-size:20px;
  margin-bottom:0;
}
h3#comments-title { padding:24px 0; }
.commentlist li.comment {
  border-bottom:1px solid #e7e7e7;
  line-height:24px;
  position:relative;
  clear:both;
  margin:0 0 24px;
  padding:0 0 0 56px;
}
.commentlist li:last-child {
  border-bottom:none;
  margin-bottom:0;
}
#comments .comment-body ul, #comments .comment-body ol { margin-bottom:18px; }
#comments .comment-body p:last-child { margin-bottom:6px; }
#comments .comment-body blockquote p:last-child { margin-bottom:24px; }
.commentlist ol { list-style:decimal; }
.commentlist .avatar {
  position:absolute;
  top:4px;
  left:0;
}
.comment-author cite {
  color:#000000;
  font-style:normal;
  font-weight:700;
}
.comment-author .says { font-style:italic; }
.comment-meta {
  font-size:12px;
  margin:0 0 5px;
}
.comment-meta a:link, .comment-meta a:visited {
  color:#888888;
  text-decoration:none;
}
.reply {
  font-size:12px;
  padding:0 0 24px;
}
.reply a, a.comment-edit-link { color:#888888; }
.commentlist .children li {
  border:none;
  margin:0;
}
#comments .pingback {
  margin-bottom:18px;
  padding-bottom:18px;
  border-bottom:1px solid #e7e7e7;
}
.commentlist li.comment+li.pingback { margin-top:-6px; }
#comments .pingback p {
  color:#888888;
  font-size:12px;
  line-height:18px;
  display:block;
  margin:0;
}
#comments .pingback .url {
  font-style:italic;
  font-size:13px;
}
input[type=submit] { color:#333333; }
#respond {
  margin-top:24px;
  border-top:1px solid #e7e7e7;
  overflow:hidden;
  position:relative;
}
#respond .comment-notes { margin-bottom:1em; }
.form-allowed-tags { line-height:1em; }
.children #respond { margin:0 48px 0 0; }
h3#reply-title { margin:18px 0; }
#comments-list #respond { margin:0 0 18px; }
#cancel-comment-reply-link {
  font-size:12px;
  line-height:18px;
  font-weight:400;
}
#respond .required {
  color:#ff4b33;
  font-weight:700;
}
#respond label {
  color:#888888;
  font-size:12px;
}
#respond input {
  width:98%;
  margin:0 0 9px;
}
#respond textarea { width:98%; }
#respond dt, #respond dd {
  color:#888888;
  font-size:12px;
  line-height:18px;
}
#respond dd code { font-size:11px; }
#respond .form-submit { margin:0 0 24px; }
#respond .form-submit input {
  width:auto;
  font-size:14px;
}
#respond dl { margin:0 0 10px; }
#respond dt {
  display:inline;
  font-weight:400;
}
#respond dd { display:inline; }
p.form-allowed-tags, .nocomments { display:none; }
.commentlist, .commentlist .children {
  list-style:none;
  margin:0;
}
.comment-meta a:active, .comment-meta a:hover, .reply a:hover, a.comment-edit-link:hover { color:#ff4b33; }
#respond p, #comments-list ul #respond { margin:0; }