input {
    padding: 5px;
    transition: .3s all;
    color: $dark;
    border: 0;
    border-bottom: 2px solid $accent;
    outline: 0;
    background: rgba($light, .3);
    &:focus {
        border-bottom: 2px solid $offset;
        background: rgba($light, .6);
    }
}


input[type=submit] {
    padding: 15px;
    transition: 0s all;
    text-transform: uppercase;
    color: $light;
    border-bottom: 0;
    border-radius: 3px;
    background: $accent;
    &:hover {
        background: darken($accent, 10);
    }
    &:focus,
    &:active {
        border-bottom: 0;
        background: $offset;
    }
}

textarea {
    border: 2px solid $accent;
    border-radius: 3px;
    @extend input;
    @include bp(large-mobile) {
        width: 100%;
    }
    &:focus {
        border: 2px solid $offset;
        background: rgba($light, .6);
    }
}

::-webkit-input-placeholder {
    color: rgba($dark, .8);
}

::-moz-placeholder {
    color: rgba($dark, .8);
}

:-ms-input-placeholder {
    color: rgba($dark, .8);
}
