//HEADER LOGO

header h2 {
	font-family: $display-font;
	font-weight: 400;
	@include font-size(30px);
	@include span-columns(2);
	margin: 0;
	margin-top: 15px;
	&:hover {
		a {
			color: $offset;
		}
		svg {
			fill: $offset;
		}
	}
}

svg {
	fill: $accent;
	width: 30px;
	transition: 0.3s all;
}

//NAV
nav {
	@include span-columns(8);
	@include shift(2);
}

ul.menu {
	//get rid of the g-g-g-ghost space!
	@include font-size(0px);
	float: right;
}
li.menu-item {
	display: inline-block;
	margin-left: 20px;
	padding-top: 5px;
	a {
		display: inline-block;
		width: 100%;
		text-align: left;
		text-transform: uppercase;
		font-weight: 400;
		@include font-size(14px);
		padding: 20px;
		&:after {
			content: '';
			height: 1px;
			bottom: -1px;
			position: absolute;
			left: 50%;
			width: 0;
			transition: 0.3s all;
			background: $accent;
		}
		&:hover:after {
			width: 100%;
			left: 0;
			background: $offset;
		}
	}
}