body {
	background: url('img/fog.jpg');
	background-size: cover;
	background-attachment: fixed;
}

section.about {
	background: $light;
}

section.skills {
	background: $grey;
}

section.portfolio {
	background: $dark;
}

section.contact {
	// background: $light;
}

footer {
	background: $dark;
}