body {
	// background: dodgerblue;
}

section.about {
	background: $light;
}

section.skills {
	background: $grey;
}

section.portfolio {
	background: $light;
}

section.contact {
	background: $light;
}

footer {
	background: $dark;
}