.container {
	max-width: 900px;
	margin:0 auto;
	padding: 10px;
}


.full {
	width:100%;
}

header {
	@include clearfix;
	padding-top: 10px;
	padding-bottom: 10px;
}

.social {
	@include span-columns(6);
	@include shift(3);
}

section {
	@include clearfix;
}

.contact .social-links {
	@include span-columns(6);
}

.contact .contact-form {
	@include span-columns(6);
}


footer {
	clear:both;
	padding: 10px;
}

.skill-group {
	@include span-columns(3);
}

.skill-list {
	list-style: none;
	padding: 0;
}

//tables
table td {
	padding:10px;
}
table tr td:first-of-type {
	padding-right: 0;
}

//def lists
dt {
	padding-bottom: 5px;
}
dd {
	padding:10px;
	margin-left: 10px;
}

pre {
	background: darken($light, 10);
	padding:10px;
	border-radius: 4px;
	border:1px solid #ccc;
}