
.container {
	max-width:1000px;
	margin:0 auto;
}

.content {
	float:left;

}

.full {
	width:100%;
}

//tables
table td {
	padding:10px;
}
table tr td:first-of-type {
	padding-right: 0;
}

//def lists
dt {
	padding-bottom: 5px;
}
dd {
	padding:10px;
	margin-left: 10px;
}

footer {
	clear:both;
}

pre {
	background: darken($light, 10);
	padding:10px;
	border-radius: 4px;
	border:1px solid #ccc;
}