@mixin bp($point) {
// Monster screens
	@if $point == x-large {
		@media (min-width: 2000px) { @content; }
	}

// Portrait tablet and small desktops
	@if $point == large-mobile {
		@media (max-width: 768px) { @content; }
	}
//Landscape phone to portrait tablet
	@if $point == medium-mobile {
		@media (max-width: 620px) { @content; }
	}
//Landscape phones
	@if $point == small-mobile {
		@media (max-width: 480px) { @content; }
	}
//Portrait phones and down
	@if $point == tiny-mobile {
		@media (max-width: 400px) { @content; }
	}
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

%display {
	text-transform: uppercase;
	font-family: $display-font;
}

%centre-x {
	left: 50%;
	transform: translateX(-50%);
}

%section-padding {
	padding-top: 30px;
	padding-bottom: 100px;
	h2 {
		padding-bottom: 30px;
	}
}

%flashy-border {
	position: relative;
	&:after {
		content: '';
		height: 1px;
		bottom: -1px;
		position: absolute;
		left: 50%;
		width: 0;
		transition: 0.3s all ease-in-out;
		background: $accent;
		}
		&:hover:after {
		width: 100%;
		left: 0;
		background: $offset;
	}
}

%underline-border {
	position: relative;
	&:after {
		content: '';
		height: 1px;
		bottom: -1px;
		position: absolute;
		left: 0;
		width: 0;
		transition: 0.3s all ease-in-out;
		background: $accent;
		}
		&:hover:after {
		width: 100%;
		left: 0;
		background: $offset;
	}
}


