body {
  color: $dark;
}

// /* links */
a {
	color: $accent;
	text-decoration: none;
}

a:hover {
	color: darken($accent, 10);
}



// /* paragraphs */
p {
	line-height: 1.5;
}

// /*blockquotes*/
blockquote {
	background: $light;
	margin:0;
	padding:20px;
	blockquote p {
		margin-top: 0;
	}
}