//portfolio pieces
.portfolio-piece {
	h3 {
		text-align: left;
		text-transform: uppercase;
		font-weight: 400;
		@include font-size(26px);
		@include column(8);
		@include push(1);
		color: $accent;
	}
	h4 {
		@include column(2);
		text-align: right;
	}
	img {
		@include column(10);
		@include push(1);
		border: 1px solid $grey;
		box-shadow: 0px 0px 10px rgba($dark, 0.3);
		margin-top: 20px;
	}
}

a.live-link {
	position: relative;
	&:hover i {
		color: $offset;
	}
	i {
		color: rgba($accent, 0);
		@include font-size(16px);
		position: absolute;
		right: -15px;
		transition: 0.3s all;
	}
}

a.portfolio-link {
	padding: 5px;
	transition: 0.3s;
	border: 1px solid $accent;
	border-radius: 3px;
	display: inline-block;
	&:hover{
		background: $accent;
		color: $light;
	}
}

.portfolio h2 {
	color: $dark;
}

.portfolio-desc {
	@include column(10);
	@include push(1);
	p {
		text-align: center;
	}
}

.tech-used {
	text-align: center;
	max-width: 100%;
	z-index: 20;
	li {
		text-transform: uppercase;
		@include font-size(12px);
		color: $dark;
		border: 1px solid rgba($dark, 0.5);
		background: $light;
		border-radius: 3px;
		padding: 4px;
		display: inline-block;
		margin: 3px;
		transition: 0.3s all;
		&:hover{
			background: $offset;
		}
	}
}